.profile-page {
  min-height: 100vh;
  background-color: white;
  font-family: "Outfit", sans-serif;
}

.profile-main {
  margin-left: 255px; /* sidebar width */
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

.profile-content {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-buttons {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.profile-actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-desc {
  color: #000000;
}

.name-plate-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.name-plate-wrapper input {
  width: 500px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px;
  font-family: "Outfit", sans-serif;
  font-size: 1.1rem;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 151px;
}

.account-email {
  font-size: 1.4rem;
  font-weight: 500;
}

.email-title {
  font-weight: 300;
}

/* Inside your modal/form CSS */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above the sidebar */
}
