.login-page {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(14, 100%, 50%, 1);
  background-image: #000;
}

/* card */
.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* title */
.login-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* subtitle */
.login-subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 30px;
}

/* form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* inputs */
.login-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-family: "Outfit", sans-serif;
  font-size: 0.95rem;
}

.login-input:focus {
  outline: none;
  border-color: black;
}

/* button */
.login-button {
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-button:hover {
  background: #222;
  transform: translateY(-2px);
}

/* footer */
.login-footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #777;
}

.login-footer span {
  color: black;
  cursor: pointer;
  font-weight: 600;
}
