.dashboard-page {
  min-height: 100vh;
  background-color: #fffdfa; /* Warm tint */
  font-family: "Outfit", sans-serif;
  color: #191919;
  display: flex;
}

.dashboard-main {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.dashboard-main.open {
  margin-left: 255px;
}
.dashboard-main.closed {
  margin-left: 80px;
}

.dashboard-content {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-header h1 {
  font-size: 3rem;
  color: #191919;
  margin-bottom: 10px;
}
